/*
 * @file
 * Provides the layout styles for layout_fourcol.
 */

@media screen and (min-width: 500px) {
  .layout--four-column {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, calc(50% - 0.75rem));
  }
}
@media screen and (min-width: 1000px) {
  .layout--four-column {
    grid-template-columns: repeat(4, calc(25% - 1.125rem));
  }
}
@media screen and (min-width: 1300px) {
  .layout--four-column {
    gap: 2rem;
    grid-template-columns: repeat(4, calc(25% - 1.5rem));
  }
}
